{% extends 'main.html' %}
{% load staticfiles %}

{% block vote %}
    <div class="large-8  columns">
    <h3> {{ vote.question }}</h3>
    <h6> {{ vote.date }}</h6>
    <table border="1">
            {% for answer in answers %}
                <tr>
                    <td>
                        {{ answer.text }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% if answers.count < 10 %}
         <form action="/vote/addanswers/{{ vote.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="button" value="Добавить ответ">
         </form>
    {% else %}
        Максимальное количество ответов - 10
        <br>
        <br>
    {% endif %}
    {% if answers.count > 1%}
        <button><a href = "/"> Готово</a></button>
    {% else %}
        Должно быть минимум 2 ответа
    {% endif %}
    </div>
{% endblock %}