{% extends 'main.html' %}
{% load staticfiles %}

{% block andanswers %}
    <div class="large-8  columns">
    <h1> {{ vote.question }}</h1>
    <h1> hello </h1>
        <table border="1">
                {% for answer in answers %}
                    <tr>
                        <td>
                            {{ answer.text }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
    <!--Вывели введёные варианты -->
    {% for i in vote.count %}
        <h2> {{ vote.theme }}</h2>
        <form action="/vote/addanswer/"{{ vote.id }}{{ i }} method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Добавить голосование">
        </form>
    {% endfor %}
    </div>
{% endblock %}