{% extends 'main.html' %}
{% load staticfiles %}

{% block vote %}
    <div class="large-offset-1 large-8 columns">
<h4> {{ vote.date }}</h4>
<h2> {{ vote.theme }}</h2>
<hr>
<p>Варианты ответа:</p>
    {% if vote.is_single %}
        <table border="1" bgcolor="">
                    {% for answer in answers %}<tr>
                    <td>
                        {{ answer.text }}
                    </td>
                    <td>
                        <a href="/vote/addanswer/{{ vote.id }}/{{ answer.id }}/">+</a>
                    </td>
                    <td>
                        {{ answer.count }}
                    </td>
            </tr>
                    {% endfor %}
        </table>
        {% else %}
            <form method="get" action="">
                {% csrf_token %}
                <table border="1">
                    <fieldset>
                        <legend>{{ vote.question }}</legend>
                        {% for answer in answers %}
                            <label><input type="checkbox" name="{{ answer.id }}"> {{ answer.text }}</label>
                        {% endfor %}
                    </fieldset>
                    <input type="submit" value="Голосовать">
                </table>
            </form>
        <p  style="color: darkblue;text-align: center; width:83.5% ">
            <a href="/vote/addanswer/{{ vote.id }}/">
                <button>
                    Голосовать
                </button>
            </a>
        </p>
    {% endif %}
    <!--<form action="/votes/vote/{{ vote.id }}" method="post"> {% csrf_token %} </form>-->
    </div>
{% endblock %}